@font-face {
    font-family: "Silkscreen-Regular.ttf";
    src: url(./fonts/Silkscreen-Regular.ttf);
}

body {
    font-family: "Silkscreen-Regular.ttf", sans-serif;
    text-transform: uppercase;
    display: flex;
    min-height:100vh ;
    justify-content: center;
    align-items: center;
    align-items: center;
    align-items: center;
    animation: gradient-background 10s infinite 5ms;
    text-align: center;
    background: linear-gradient(to bottom, #fff5e5, #ff7e5f);

}
@keyframes gradient-background {


    0% { background: linear-gradient(3.60deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    1% { background: linear-gradient(7.20deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    2% { background: linear-gradient(10.80deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    3% { background: linear-gradient(14.40deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    4% { background: linear-gradient(18.00deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    5% { background: linear-gradient(21.60deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    6% { background: linear-gradient(25.20deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    7% { background: linear-gradient(28.80deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    8% { background: linear-gradient(32.40deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    9% { background: linear-gradient(36.00deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    10% { background: linear-gradient(39.60deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    11% { background: linear-gradient(43.20deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    12% { background: linear-gradient(46.80deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    13% { background: linear-gradient(50.40deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    14% { background: linear-gradient(54.00deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    15% { background: linear-gradient(57.60deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    16% { background: linear-gradient(61.20deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    17% { background: linear-gradient(64.80deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    18% { background: linear-gradient(68.40deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    19% { background: linear-gradient(72.00deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    20% { background: linear-gradient(75.60deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    21% { background: linear-gradient(79.20deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    22% { background: linear-gradient(82.80deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    23% { background: linear-gradient(86.40deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    24% { background: linear-gradient(90.00deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    25% { background: linear-gradient(93.60deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    26% { background: linear-gradient(97.20deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    27% { background: linear-gradient(100.80deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    28% { background: linear-gradient(104.40deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    29% { background: linear-gradient(108.00deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    30% { background: linear-gradient(111.60deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    31% { background: linear-gradient(115.20deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    32% { background: linear-gradient(118.80deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    33% { background: linear-gradient(122.40deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    34% { background: linear-gradient(126.00deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    35% { background: linear-gradient(129.60deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    36% { background: linear-gradient(133.20deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    37% { background: linear-gradient(136.80deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    38% { background: linear-gradient(140.40deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    39% { background: linear-gradient(144.00deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    40% { background: linear-gradient(147.60deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    41% { background: linear-gradient(151.20deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    42% { background: linear-gradient(154.80deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    43% { background: linear-gradient(158.40deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    44% { background: linear-gradient(162.00deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    45% { background: linear-gradient(165.60deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    46% { background: linear-gradient(169.20deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    47% { background: linear-gradient(172.80deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    48% { background: linear-gradient(176.40deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    49% { background: linear-gradient(180.00deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    50% { background: linear-gradient(183.60deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    51% { background: linear-gradient(187.20deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    52% { background: linear-gradient(190.80deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    53% { background: linear-gradient(194.40deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    54% { background: linear-gradient(198.00deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    55% { background: linear-gradient(201.60deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    56% { background: linear-gradient(205.20deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    57% { background: linear-gradient(208.80deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    58% { background: linear-gradient(212.40deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    59% { background: linear-gradient(216.00deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    60% { background: linear-gradient(219.60deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    61% { background: linear-gradient(223.20deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    62% { background: linear-gradient(226.80deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    63% { background: linear-gradient(230.40deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    64% { background: linear-gradient(234.00deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    65% { background: linear-gradient(237.60deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    66% { background: linear-gradient(241.20deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    67% { background: linear-gradient(244.80deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    68% { background: linear-gradient(248.40deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    69% { background: linear-gradient(252.00deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    70% { background: linear-gradient(255.60deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    71% { background: linear-gradient(259.20deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    72% { background: linear-gradient(262.80deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    73% { background: linear-gradient(266.40deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    74% { background: linear-gradient(270.00deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    75% { background: linear-gradient(273.60deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    76% { background: linear-gradient(277.20deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    77% { background: linear-gradient(280.80deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    78% { background: linear-gradient(284.40deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    79% { background: linear-gradient(288.00deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    80% { background: linear-gradient(291.60deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    81% { background: linear-gradient(295.20deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    82% { background: linear-gradient(298.80deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    83% { background: linear-gradient(302.40deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    84% { background: linear-gradient(306.00deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    85% { background: linear-gradient(309.60deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    86% { background: linear-gradient(313.20deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    87% { background: linear-gradient(316.80deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    88% { background: linear-gradient(320.40deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    89% { background: linear-gradient(324.00deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    90% { background: linear-gradient(327.60deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    91% { background: linear-gradient(331.20deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    92% { background: linear-gradient(334.80deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    93% { background: linear-gradient(338.40deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    94% { background: linear-gradient(342.00deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    95% { background: linear-gradient(345.60deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    96% { background: linear-gradient(349.20deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    97% { background: linear-gradient(352.80deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    98% { background: linear-gradient(356.40deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    99% { background: linear-gradient(360.00deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
    100% { background: linear-gradient(363.60deg, rgba(255, 255, 255, 0) 50%, rgba(254, 201, 138, 0.2) 70%, rgba(252, 136, 54, 0.2) 80%);}
}
.c-orange {
    color: #fc8836;
}

.logo {
    max-width: 50%;
    max-height: 150px; /* Adjust this value as needed */
    height: auto;
    padding: 10px 70px;
margin-bottom: 70px;}
.main {
    width: 100%;
    margin-top: 50px;
}

.time p {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-size: 24px;
    
}

.countdown-box {
    background-color: #222222;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    width: 50px;
    font-family: serif;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 70px;
}

.register {
    padding-top: 10px;
}

.register span {
    color: #fc8836;
}

.register span i {
    color: #fc8836;
    font-size: 16px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.social i {
    color: #fc8836;
    font-size: 22px;
    margin: 10px;
}
@media (max-width:767px) {
    html{    height: 100%;
    }
    .logo{max-width: 60%;}
    .countdown-container{
        font-size: 18px;
        padding-bottom: 70px;
    }
    .countdown-box{
        background-color: #222222;
        color: white;
        padding: 18px;
        text-align: center;
        border-radius: 15px;
        margin: 5px;
        width: 35px;
        font-family: serif;
        font-size: 2em;
        font-weight: 500;
    }
}
@media (max-width:1025px) {
    html{    height: 100%;
    }
    .countdown-container{
        padding-bottom: 70px;
}}